In [2]:
#initiate spark
import pyspark
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
c = pyspark.SparkConf().setAppName("test_app").setMaster("local")
sc = pyspark.SparkContext(conf = c)
spark = SparkSession(sc)

In [3]:
from pyspark.sql.functions import *

In [9]:
data = spark.read.csv("/content/Sample - Superstore.csv", header = True, inferSchema = True, escape='"')

In [10]:
data.createOrReplaceTempView("superstore_tb")

In [16]:
data.printSchema()

root
 |-- Row ID: integer (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Ship Mode: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Country/Region: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Postal Code: integer (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Sales: double (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- Discount: double (nullable = true)
 |-- Profit: double (nullable = true)

In [22]:
spark.sql("""
    SELECT
        Category,
        SUM(Sales) AS Total_Sales,
        SUM(Profit) AS Total_Profit,
        AVG(Quantity) AS Avg_Quantity
    FROM superstore_tb
    WHERE Category = 'Technology'
    GROUP BY Category
    ORDER BY Total_Sales DESC
""").show()

+----------+-----------------+------------------+-----------------+
|  Category|      Total_Sales|      Total_Profit|     Avg_Quantity|
+----------+-----------------+------------------+-----------------+
|Technology|836154.0329999941|145454.94810000007|3.756903086085544|
+----------+-----------------+------------------+-----------------+

In [23]:
spark.sql("""
    SELECT
        Category,
        `Sub-Category`,
        SUM(Sales) AS Total_Sales,
        SUM(Profit) AS Total_Profit,
        AVG(Quantity) AS Avg_Quantity
    FROM superstore_tb
    WHERE Category = 'Technology'
    GROUP BY Category, `Sub-Category`
    HAVING Avg_Quantity > 3.5
    ORDER BY Total_Sales DESC
""").show()

+----------+------------+------------------+-----------------+------------------+
|  Category|Sub-Category|       Total_Sales|     Total_Profit|      Avg_Quantity|
+----------+------------+------------------+-----------------+------------------+
|Technology|      Phones| 330007.0539999992|44515.73059999997| 3.699662542182227|
|Technology|    Machines|189238.63100000005|        3384.7569|3.8260869565217392|
|Technology| Accessories|167380.31800000006|41936.63569999997|              3.84|
+----------+------------+------------------+-----------------+------------------+